extends layout

block content
  h1= title
  ol
    each record in records
      li
        a(href='view/' + record.id)
          = 'v' + record.fields._version + ' ' + record.fields.platform + ' ' + record.time.toLocaleString()
